* {
    margin: 0;
    padding: 0;
}
body {
    background-color:rgb(253, 251, 251);
}
h2 {
    text-align: center;
    margin: 20px;
    font-size: 25px;
}
#cabecalho {
   top: 0px;
   background-color: #246959;
   width: 100%;
   color: blanchedalmond;
   height: 80px;
   display: inline-block;
   position: fixed;
}
#titulo{
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
}
.navegacao {
    background-color: #246959;
    text-align: center;
    padding: 10px;
    color: blanchedalmond;
}
.navegacao li{
    display: inline-block;
    width: 100px;
}
.navegacao a {
    text-decoration: none;
    color: blanchedalmond;
    font-weight: bolder;
    font-size: 17px;
}
.navegacao li :hover {
    color:rgb(2, 2,2);
    transition: 300ms;
}
#minha_foto {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
.conteudoPrincipal {
    width: 100%;
}
.lessons-learned {
    margin-top: 500px;
}
.lado-esquerdo {
    width: 50%;
    float: left;
    margin-top: 100px;
}
.lado-esquerdo p {
    text-align: center;
    margin: 10px;
    font-weight: bolder;
    font-size: 20px;
}
.lado-direito {
    width: 50%;
    float: right;
    margin-top: 100px;
}
.lado-direito p {
    text-align: center;
    margin: 10px;
    font-weight: bolder;
    font-size: 20px;
}
ol{
    margin: 30px;
    padding: 40px;
    font-weight: bolder;
}
#licoes_aprendidas {
    border: rgb(221, 219, 215) solid 6px;
    border-radius: 30px;
}
#licoes_a_aprender {
    border: rgb(221, 219, 215) solid 6px;
    border-radius: 30px;
    margin: 30px;
    padding: 40px;
    font-weight: bolder
}
#rodape{
    background-color: #246959;
    height: 30px;
    padding: 10px;
    font-size: 20px;
}
#rodape p {
    margin:20px;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    color: blanchedalmond;
}
.icons {
    display: flex;
    justify-content: center;
    bottom: 0;
    background-color: #246959;
    width: 100%;
    max-width: 100%;
    color: blanchedalmond;
    height: 60px;
}
.icons p {
    margin:20px;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
}
.icons p:hover {
    color: rgb(2, 2,2);
    transition: 300ms;
}
.tabela{
    margin-left: 400px;
    padding: 20px;
    width: 600px;
    font-size: 20px;
    font-weight: bolder;
    line-height: 30px;
}
